/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.9;
  text-align: left;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
}
a::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
a:hover::after {
  transform: scale(1, 1);
}

ul {
  list-style: none;
}

.container {
  /* width: 75%; */
  max-width: 1080px;
  margin: 0 auto;
  /* background-color: pink; */
}

header {
  padding: 15px 0;
  position: fixed;
  /* opacity: 0.9; */
  background-color: #000;
  /* background-color: pink; */
  width: 100%;
  z-index: 1000;
}

.header-menu {
  display: flex;
}

.header-left h1 {
  font-size: 25px;
  letter-spacing: 5px;
  white-space: nowrap;
  color: #fff;
}

.header-right {
  margin-left: auto;
  padding: 13px 0 0 0;
  /* background-color: red; */
}

.header-right .nav-list {
  
}

.nav-list {
  display: flex;
}

.nav-list li a{
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 0 25px;
}


/* .header */

.top-wrapper {
  /* background-color: pink; */
}

.mainimg {
  width: 100%;
  /* height: 120vh; */
}

/* .mainimg */

.main-logo {
  font-size: 50px;
  text-align: center;
  letter-spacing: 10px;
  font-weight: 100;
  padding: 100px 0 60px;
}

.contents {
  display: flex;
}


.myphoto img {
  width: 220px;
  height: 220px;
  /* width: 50%; */
  border-radius: 50%;
  /* padding: 0 0 0 60px; */
}
.name {
  font-size: 24px;
  line-height: 0.5;
}

.small {
  font-size: 16px;
}

.about-text .fab {
  padding-right: 5px;
}


.about-text a {
  opacity: 0.8;
}

.about-text a:hover {
  opacity: 1;

}

.about-text {
  font-size: 18px;
  padding-left: 80px;
  box-sizing: border-box;
  position: static;
  max-width: 700px;
}

.about-sns {
  display: flex;
}

.about-text a {
  text-decoration: none;
}

.main-text {
  /* box-sizing: border-box; */
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 40px;
  /* max-width: 80%; */
}

/* .about */


.skill-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-content h1 {
  font-size: 25px;
}

.skill-content i {
  padding: 30px 0 35px 0;
}

.skill-box {
  text-align: center;
  max-width: 280px;
  margin: 0 30px 80px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.skill-border {
    height: 30px;
    background-color: var(--clr-dark-1);
    /* border: none; */
    margin: 0 auto;
}

.skill-text {
  text-align: left;
  /* width: 80%; */
  margin: 0 auto;
  font-size: 16px;
}

/* .skill */

.works-wrapper {
  width: 95%;
  margin: 0 auto;
}

.works-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-between; */
  /* position: fixed; */
}

.works-box {
  width: 330px;
  height: auto;
  overflow: hidden;
  padding:15px;
}

.works-box img{
  max-width: 100%;
  transition:1s all;
}

.work-text {
  text-align: center;
  font-size: 12px;
}

.works-box img:hover {
  cursor: pointer;
  transform:scale(1.1,1.1);
  transition:1s all;
}

/* .works */


table {
  border-collapse: collapse;
}

/* p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 60px auto 40px;
} */

input[type="submit"],
input[type="text"],
select,
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
}


input[type="text"],
textarea {
  background: #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  width: 480px;
  transition: 0.8s;
  border-radius: 0;
}

input[type="text"]:focus,
textarea:focus {
  background: #e9f5fb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea[name="content"] {
  display: inline-block;
  width: 100%;
  height: 200px;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}

.form-table {
  width: 100%;
}

.form-table th,
.form-table td {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 20px;
}

.form-table th {
  background: #EEFFFF;
  padding-left: 50px;
  position: relative;
  text-align: left;
  width: 300px;
}

.last {
  vertical-align: middle;
}

.sample {
  text-align: center;
  opacity: 0.5;
}

.form-send {
  padding: 50px 0 15px;
  text-align: center;
}

.form-btn {
  border-radius: 5px;
  width: 200px;
  padding: 20px 0;
  box-shadow: #ccc;
  background-color: #cccccc;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #e9f5fb;
  opacity: 0.7;
  transition: 0.4s;
}

/* .contact */

.footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  margin-top: 100px;
  display: flex;
}

.footer-text {
  width: 100%;
}

.footer p {
  padding: 23px 0 15px;
  
}


.footer-right {
  line-height: 5;
  max-width: 5%;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #6c757d;
  margin-left: auto;
}

.footer-right .fas {
  color: #fff;
}

/* .footer */

.btn {
  display: none;
}

.menu {
  display: none;
}


@media screen and (max-width: 768px) {
  header{
    padding-top: 0;
  }
  .btn {
    display: block;
	}

	.menu {
		/* メニューを横に */
		/* display: flex;
		flex-direction: row;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
    height: 100px; */
    /* display: none; */
  }
 

  
  .menu-list {
    width: 100%;
    height: 100%;
    /* メニューテキスト位置をリスト内中心に */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;
    letter-spacing: 3px;
  }
  
  .menu {
    /* メニューの位置マイナス指定で画面外に */
    position: fixed;
    right: -100%;
    width: 100%;
    height: 100%;
    /* メニューを縦に */
    display: flex;
    flex-direction: column;
    color: #efefef;
    background-color: #efefef;
    opacity: 1;
    transition: .3s;
  }
  
  .btn {
    /* ボタンの配置位置  */
    /* position: fixed; */
    position: absolute;
    top: 10px;
    right: 16px;
    /* ボタンの大きさ  */
    width: 48px;
    height: 48px;
    /* 最前面に */
    z-index: 100;
    background-color: rgba(255, 255, 255, 0);
    /* background-color: red; わかりやすいように */
  }
  /***** 真ん中のバーガー線 *****/
  .btn-line {
    display: block;
    position: relative;  /* バーガー線の位置基準として設定 */
    width: 100%;  /* 線の長さと高さ */
    height: 4px;
    background-color: #fff;  /* バーガー線の色 */
    transition: .2s;
  }
  /****** 上下のバーガー線 *****/
  .btn-line::before,
  .btn-line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: .5s;
  }
  .btn-line::before {
    /* 上の線の位置 */
    transform: translateY(-16px);
    right: 0px;
  }
  
  
  .btn-line::after {
    /* 下の線の位置 */
    transform: translateY(16px);
    right: 0;
  }
  .menu.open {
    right: 0;
  }
  /***** メニューオープン時 *****/
  .btn-line.open {
    background-color: transparent;  	/* 真ん中の線を透明に */
  }
  
  .btn-line.open::before , 
  .btn-line.open::after {
    content: "";
    background-color: #333;  /* 上下の線の色を変える */
    transition: .2s;
  }
  
  .btn-line.open::before {
    transform: rotate(45deg);  /* 上の線を傾ける */
  }
  
  .btn-line.open::after {
    transform: rotate(-45deg);  /* 下の線を傾ける */
  }

  .container {
    width: 100%;
    flex-direction: column;
    overflow: hidden;
  }
  .header-menu {
    /* justify-content: space-between; */
  }

  .header-left {
    padding-left: 40px;
    padding-right: 300px;
  }

  .header-left h1 {
    padding-top: 15px;
  }

  .header-right {
    padding-top: 0;
  }

  .nav-list{
    display: none;
  }

  .mainimg {
    padding-top: 77px;
  }

  .contents {
    flex-direction: column;
    justify-content: center;
  }

  .myphoto {
    margin: 0 auto;
  }

  .myphoto img{
    padding-left: 0;
    padding-top: 0;
    /* padding-bottom: 20px; */
  }
  .myphoto img {
    width: 190px;
    height: 190px;
    /* width: 50%; */
    border-radius: 50%;
    /* padding: 0 0 0 60px; */
  }
  
  .about-text {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  }

  .about-sns {
    justify-content: center;
  }

  /* .about */

  .skill-content {
    /* flex-direction: column; */
    
  }

  .skill-box {
    width: 100%;
    margin: 20px auto;
  }



.form-table th,.form-table td {
  display: block;
  width: 100%;
  border-bottom: none;

  }
}



